*{
	margin: 0px auto;
	padding: 0px;
	text-decoration: none;
	text-align: center;
}

@font-face{
    font-family: "game";
    src: url("/game.ttf");
}

header{
	padding: 5px;
	background: black;
	margin-bottom: 20px;
}

.white-text{
	color: white;
	font-family: game;
}

.black-text{
	color: black;
	font-family: game;
}

.game{
	clear: both;
	display: inline-block;
	margin: 0px 20px;
}

.game-btn{
	margin: 5px;
	padding: 5px;
	font-size: 20px;
	background: white;
	border: 2px solid black;
	border-radius: 5px;
	outline: none;
}

.game-btn:hover{
	color: white;
	background: black;
}

.game-img{
	margin: 5px auto;
	border-radius: 5px;
	border: 2px solid black;
}

.icon{
	margin: 0px 7px;
	height: 25px;
}

.separator{
	margin: 20px auto;
	background: black;
	height: 1px;
	width: 200px;
}

iframe{
	border: 0px;
}

#abb-download{
	display: none;
}
